<%= javascript_pack_tag "application" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Typescript React Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
